:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.leon-container {
    position: fixed;          /* siempre centrado en viewport */
    inset: 0;                 /* ocupa toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;     /* opcional: no bloquea clicks */
}

.leon-img {
    width: 40vw;              /* tamaño relativo a pantalla */
    max-width: 500px;         /* límite en pantallas grandes */
    min-width: 250px;         /* evita que se vea pequeña */
    height: auto;
}
